/* Header PoliParking */
.header {
    background-color: var(--colorDos);
    color: var(--colorUno);
    padding: 1.5rem 0;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.logo {
    width: 60px;
    height: 60px;
}

.titulo {
    font-family: var(--fuenteSecundaria);
    font-size: 1.8rem;
    font-weight: 700;
}
