/* src/css/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@400;700;900&display=swap');

:root {
    --colorPrincipal: #0a3d62;    /* Azul EPN */
    --colorSecundario: #e30613;   /* Rojo */
    --colorDorado: #ffc107;       /* Amarillo */
    
    --colorTexto: #2c3e50;        /* Texto oscuro para fondos claros */
    --colorTextoClaro: #555555;   /* Gris para párrafos */
    
    /* EL NUEVO COLOR "NO CANSA VISTA" */
    --colorFondoSuave: #f0f4f8;   /* Gris Hielo (Alice Blue moderno) */
    --colorBlanco: #ffffff;
}

* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    transition: all 0.3s ease;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--colorFondoSuave); /* Fondo base por defecto */
    color: var(--colorTexto);
}

/* Títulos generales */
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: var(--colorPrincipal); /* Por defecto azules */
}

/* Utilidades */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
